/*........... slidr*/
.roadmap_Slider {
  color: #fff;
  position: relative;
}
.roadmap_Slider:before {
  background: black;
  content: '';
  height: 2px;
  left: 50%;
  position: absolute;
  top: 58px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 104%;
  z-index: 0;
}
.roadmapWrap {
  align-items: flex-end;
  display: flex !important;
  min-height: 280px;
  position: relative;
  /* margin-top: 60px; */
}
.roadmapWrap .roadmapWrap_content {
  background-color: #737373;
  border-radius: 10px;
  box-shadow: 0 0 20px #0000000f;
  min-height: 155px;
  padding: 25px;
  width: 100%;
  margin: 0 20px;
  z-index: 1;
}
.roadmap_Slider .slick-slider .slick-slide {
  padding: 60px 10px;
}
.roadmapWrap .phase,
.roadmapWrap:before {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.roadmapWrap:before {
  background-color: #000000;
  content: '';
  height: 117px;
  top: 8px;
  width: 2px;
  z-index: 0;
}
.roadmapWrap .phase {
  background: linear-gradient(272deg, #3e3e3e, #a3a3a3);
  border-radius: 28px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 10px 25px;
  top: -55px;
  white-space: nowrap;
}
.roadmapWrap_content:after {
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  content: '';
  height: 15px;
  left: 50%;
  position: absolute;
  top: -8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 15px;
}
.roadmap_Slider .slick-next,
.slick-prev {
  top: 58px;
}
.roadmap_Slider .slick-next,
.slick-prev {
  z-index: 5;
}
.roadmap_Slider .slick-next {
  right: -35px;
}
.slick-prev {
  left: -35px;
}
.roadmap_Slider .slick-next:before,
.roadmap_Slider .slick-prev:before {
  color: #ffffff;
  font-size: 23px;
  opacity: 1;
}

.roadmap_Slider .slick-next,
.roadmap_Slider .slick-prev {
  background-color: #161515;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    color: white;
}